/* OR Style Guide Styles */
/* Variables */
/* END Variables */
/* Mixins */
/* END Mixins */
/* Font Families */
@font-face {
  font-family: 'IntroRust-Base-Line';
  src: url("../fonts/IntroRust/Fontfabric-Intro-Rust-Base-Line.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'IntroRust-Base';
  src: url("../fonts/IntroRust/Fontfabric-Intro-Rust-Base.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Grumpy24';
  src: url("../fonts/Grumpy/Suomi-Grumpy-Black24.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
/* STYLE GUIDE FRAMEWORK*/
.style-guide-container {
  margin: 60px auto;
  font-size: 11px;
  color: #FF6916;
  font-family: sans-serif;
}
.style-guide-header {
  text-align: center;
  padding: 60px;
  background-color: #f5f6f5;
  margin-bottom: 60px;
}
.style-guide-header h1 {
  color: #4a4a4a;
  margin-top: 30px;
}
.style-guide-header svg {
  max-height: 100px;
}
.style-guide-section {
  margin-bottom: 30px;
}
.style-guide-section .section-header {
  color: #FF6916;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
}
.text-style-section,
.button-section {
  margin-bottom: 15px;
}
.iconography-container {
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
}
/* END STYLE GUIDE FRAMEWORK*/
/* GLOBAL FRAMEWORK STYLE */
.container {
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 1170px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}
body {
  margin: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}
/* END GLOBAL STYLES */
/* COLORS */
.color-container {
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
}
.color-section {
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px;
}
.main-color-section,
.action-color-section {
  margin-right: 0;
}
@media (min-width: 839px) {
  .main-color-section,
  .action-color-section {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .main-color-section,
  .action-color-section {
    margin-right: 90px;
  }
}
.secondary-color-section {
  margin-right: 90px;
}
.color-thumb {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 180px;
}
.color-thumb-skinny {
  width: 90px;
  white-space: nowrap;
}
.color-thumb-skinny .color-block {
  width: 85px;
  font-size: 16px;
}
.color-thumb-large {
  width: 360px;
}
.color-thumb-large .color-block {
  width: 355px;
  color: #fff !important;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  font-size: 70px;
}
.color-thumb-short .color-block {
  height: 50px;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  position: relative;
}
.color-thumb-short .color-block i {
  position: absolute;
  left: 10px;
  top: 15px;
}
.color-block {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  width: 175px;
  height: 175px;
  padding: 5px;
  margin-right: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.color-block.action-default {
  background-color: #9dc742;
}
.color-block.action-hover {
  background-color: #779026;
}
.color-block.brand-primary {
  background-color: #da1a32;
}
.color-block.brand-secondary {
  background-color: #231f20;
}
.color-block.gray-darker {
  background-color: #413d3e;
}
.color-block.gray-dark {
  background-color: #4a4a4a;
}
.color-block.gray {
  background-color: #9b9b9b;
}
.color-block.gray-light {
  background-color: #cbcbcb;
  color: #4a4a4a;
}
.color-block.gray-lighter {
  background-color: #e2e2e2;
  color: #4a4a4a;
}
.color-block.gray-lightest {
  background-color: #f5f6f5;
  color: #4a4a4a;
}
.color-block.error {
  background-color: #b10016;
}
.color-block.warning {
  background-color: #e5a423;
}
.color-block.success {
  background-color: #5fa318;
}
/* END COLORS */
/* INTERFACE ELEMENTS */
.interface-elements {
  padding: 15px 15px;
  background-color: #fff;
  width: 100%;
  max-width: 900px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (min-width: 768px) {
  .interface-elements {
    padding: 15px 60px;
  }
}
.interface-elements.dark-theme {
  background-color: #231f20;
}
.theme-toggle {
  height: 30px;
  width: 60px;
  display: block;
  margin: 15px 0;
  background-color: #e2e2e2;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}
.theme-toggle:before {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #9dc742;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.theme-toggle.dark-theme:before {
  left: 32px;
}
/* TEXT STYLES */
html {
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.3em;
}
h1 {
  font-family: "IntroRust-Base-Line", sans-serif;
  font-size: 40px;
  color: #4a4a4a;
  margin-top: 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
}
h1.display-technical {
  font-family: "IntroRust-Base-Line", sans-serif;
  font-size: 48px;
  font-weight: normal;
}
h1.display-hand {
  font-family: "IntroRust-Base-Line", sans-serif;
  font-size: 70px;
  font-weight: normal;
  text-transform: none;
}
h2 {
  font-family: "IntroRust-Base-Line", sans-serif;
  font-size: 30px;
  color: #4a4a4a;
  margin-top: 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
}
h3 {
  font-family: "IntroRust-Base", sans-serif;
  font-size: 24px;
  color: #4a4a4a;
  margin-top: 0;
  line-height: 1;
  text-transform: uppercase;
}
h3.alt {
  font-family: "Grumpy24", serif;
  text-transform: none;
}
h4 {
  font-family: "IntroRust-Base", sans-serif;
  font-size: 20px;
  color: #4a4a4a;
  margin-top: 0;
  line-height: 1;
  text-transform: none;
}
h4.alt {
  font-family: "Grumpy24", serif;
}
h5 {
  font-family: "IntroRust-Base", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #4a4a4a;
  margin-top: 0;
  line-height: 22px;
  text-transform: none;
}
h6 {
  font-family: "alternate-gothic-no-3-d", sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #4a4a4a;
  margin-top: 0;
  line-height: 1;
  text-transform: uppercase;
}
blockquote {
  font-family: "Grumpy24", serif;
  font-weight: normal;
  border-left: none;
  font-size: 28px;
  color: #4a4a4a;
  text-align: center;
  margin-top: 0;
  line-height: 34px;
  text-transform: none;
}
blockquote.editorial-blockquote {
  font-size: 48px;
  color: #4a4a4a;
  text-align: left;
  padding: 30px 0;
  line-height: 0.92;
  margin: 45px 0;
  position: relative;
  width: 100%;
  font-style: normal;
}
@media (min-width: 768px) {
  blockquote.editorial-blockquote {
    text-align: center;
  }
}
blockquote.editorial-blockquote.align-left,
blockquote.editorial-blockquote.align-right,
blockquote.editorial-blockquote.pull-left,
blockquote.editorial-blockquote.pull-right {
  width: 370px;
  margin-top: 0;
}
blockquote.editorial-blockquote:before,
blockquote.editorial-blockquote:after {
  content: "";
  height: 4px;
  width: 100%;
  max-width: 370px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50%;
  background-color: #231f20;
}
@media (min-width: 400px) {
  blockquote.editorial-blockquote:before,
  blockquote.editorial-blockquote:after {
    margin-left: -185px;
  }
}
blockquote.editorial-blockquote:after {
  top: auto;
  bottom: 0;
}
.blockquote-attribution {
  display: block;
  margin-top: 30px;
}
p {
  font-family: "proxima-nova", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #413d3e;
  margin-top: 0;
  line-height: 1.5;
  text-transform: none;
}
p.large {
  font-size: 20px;
}
p.small {
  font-weight: bold;
  font-size: 11px;
}
a {
  font-family: "proxima-nova", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #9dc742;
  margin-top: 0;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
a:hover {
  color: #779026;
  text-decoration: none;
}
.breadcrumb {
  list-style: none;
  background: none;
  margin: 5px 0;
  padding: 0;
}
.breadcrumb .breadcrumb-link {
  display: inline-block;
}
.breadcrumb .breadcrumb-link a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  color: #4a4a4a;
}
.breadcrumb .breadcrumb-link:before {
  content: "/";
  color: #4a4a4a;
  font-size: 12px;
  padding: 0 5px;
}
.breadcrumb .breadcrumb-link:first-child:before {
  display: none;
}
.image-caption {
  display: block;
  font-family: "alternate-gothic-no-3-d", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #413d3e;
  margin-top: 10px;
}
label {
  font-family: "proxima-nova", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #4a4a4a;
  margin-top: 0;
  line-height: 1.5;
  text-transform: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
hr {
  -webkit-transition: border-color 0.3s ease-out;
  transition: border-color 0.3s ease-out;
}
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme p,
.dark-theme label {
  color: #fff;
}
.dark-theme hr {
  border-color: #fff !important;
}
/* END TEXT STYLES*/
/* DIVIDER STYLES */
hr {
  border-top: 3px solid #231f20;
  margin: 10px 0;
}
hr.large {
  border-top: 4px solid #231f20;
}
hr.small {
  border-top: 1px solid #cbcbcb;
}
hr.end-mark {
  border-top: 8px solid #231f20;
  width: 25px;
  margin: 30px 0;
}
/* END DIVIDER STYLES */
/* BUTTON STYLES */
.btn {
  display: block;
  font-family: "IntroRust-Base", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #231f20;
  border-radius: 5px;
  color: #231f20;
  width: 250px;
  height: 40px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.btn:hover {
  border-color: #9dc742;
  color: #9dc742;
}
.btn.btn-secondary {
  background-color: #231f20;
  border: 2px solid #231f20;
  color: #fff;
}
.btn.btn-secondary:hover {
  background-color: #4a4a4a;
  border: 2px solid #4a4a4a;
  color: #fff;
}
.btn.btn-form {
  background-color: #231f20;
  border: 2px solid #231f20;
  color: #9dc742;
}
.btn.btn-form:hover {
  background-color: #4a4a4a;
  border: 2px solid #4a4a4a;
  color: #9dc742;
}
.btn.btn-action {
  height: 60px;
  background-color: #9dc742;
  border: 2px solid #9dc742;
  font-size: 20px;
  color: #fff;
}
.btn.btn-action:hover {
  background-color: #779026;
  border: 2px solid #779026;
  color: #fff;
}
.dark-theme .btn {
  border: 2px solid #fff;
  color: #fff;
}
.dark-theme .btn:hover {
  border-color: #9dc742;
  color: #9dc742;
}
.dark-theme .btn.btn-secondary {
  background-color: #fff;
  border: 2px solid #fff;
  color: #4a4a4a;
}
.dark-theme .btn.btn-secondary:hover {
  background-color: #9dc742;
  border: 2px solid #9dc742;
  color: #fff;
}
.dark-theme .btn.btn-form {
  background-color: #9dc742;
  border: 2px solid #9dc742;
  color: #231f20;
}
.dark-theme .btn.btn-form:hover {
  background-color: #779026;
  border: 2px solid #779026;
  color: #231f20;
}
.dark-theme .btn.btn-action {
  height: 60px;
  background-color: #9dc742;
  border: 2px solid #9dc742;
  font-size: 20px;
}
.dark-theme .btn.btn-action:hover {
  background-color: #779026;
  border: 2px solid #779026;
  color: #fff;
}
/* END BUTTON STYLES */
/* FORM STYLES */
#input-example {
  margin-top: 0;
}
input,
textarea {
  height: 40px;
  width: 100%;
  border: 1px solid #e2e2e2;
  background-color: #f5f6f5;
  border-radius: 5px;
  padding: 0 10px;
  color: #4a4a4a;
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin: 10px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
}
input:disabled,
textarea:disabled {
  border: none;
}
input:focus,
textarea:focus,
input:active,
textarea:active {
  border-color: #231f20;
  color: #231f20;
  outline: none;
  box-shadow: none;
}
.input-error {
  position: relative;
}
.input-error input {
  border-color: #b10016;
  color: #b10016;
  padding-right: 45px;
}
.input-error input::-webkit-input-placeholder {
  color: #b10016;
}
.input-error:after {
  content: "\e901";
  font-family: "or-icomoon";
  color: #b10016;
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 15px;
}
.input-success {
  position: relative;
}
.input-success input {
  border-color: #5fa318;
  color: #5fa318;
  padding-right: 45px;
}
.input-success input::-webkit-input-placeholder {
  color: #5fa318;
}
.input-success:after {
  content: "\ed73";
  font-family: "or-icomoon";
  color: #5fa318;
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 15px;
}
select {
  height: 40px;
  width: 100%;
  border: 1px solid #e2e2e2;
  background-color: #f5f6f5;
  border-radius: 5px;
  padding-left: 10px;
  color: #4a4a4a;
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 10px 0;
  background-position: 100% 50%;
  background-size: 17px 12px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%0D%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%22-387.2%20304%2017%2012%22%0D%0A%09%20enable-background%3D%22new%20-387.2%20304%2017%2012%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Ctitle%3ETriangle%201%20Copy%3C/title%3E%0D%0A%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0D%0A%3Cg%20id%3D%22style%22%20sketch%3Atype%3D%22MSPage%22%3E%0D%0A%09%3Cg%20id%3D%22iPhone-6%22%20transform%3D%22translate%28-334.000000%2C%20-893.000000%29%22%20sketch%3Atype%3D%22MSArtboardGroup%22%3E%0D%0A%09%09%0D%0A%09%09%09%3Cg%20id%3D%22Rectangle-4-Copy-5-_x2B_-Triangle-1-_x2B_-Triangle-1-Copy-_x2B_-Placeholder-Copy-5%22%20transform%3D%22translate%2875.000000%2C%20874.000000%29%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0D%0A%09%09%09%3Cg%20id%3D%22Triangle-1-_x2B_-Triangle-1-Copy%22%20transform%3D%22translate%28259.000000%2C%2011.000000%29%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%0D%0A%09%09%09%09%3Cpolygon%20id%3D%22Triangle-1-Copy%22%20points%3D%22-382.5%2C312%20-378.1%2C316.5%20-387%2C316.5%20%09%09%09%09%22/%3E%0D%0A%09%09%09%3C/g%3E%0D%0A%09%09%3C/g%3E%0D%0A%09%3C/g%3E%0D%0A%3C/g%3E%0D%0A%3Cg%20id%3D%22style_1_%22%20sketch%3Atype%3D%22MSPage%22%3E%0D%0A%09%3Cg%20id%3D%22iPhone-6_1_%22%20transform%3D%22translate%28-334.000000%2C%20-893.000000%29%22%20sketch%3Atype%3D%22MSArtboardGroup%22%3E%0D%0A%09%09%0D%0A%09%09%09%3Cg%20id%3D%22Rectangle-4-Copy-5-_x2B_-Triangle-1-_x2B_-Triangle-1-Copy-_x2B_-Placeholder-Copy-5_1_%22%20transform%3D%22translate%2875.000000%2C%20874.000000%29%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0D%0A%09%09%09%3Cg%20id%3D%22Triangle-1-_x2B_-Triangle-1-Copy_1_%22%20transform%3D%22translate%28259.000000%2C%2011.000000%29%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%0D%0A%09%09%09%09%3Cpolygon%20id%3D%22Triangle-1-Copy_1_%22%20points%3D%22-382.5%2C324%20-387%2C319.5%20-378.1%2C319.5%20%09%09%09%09%22/%3E%0D%0A%09%09%09%3C/g%3E%0D%0A%09%09%3C/g%3E%0D%0A%09%3C/g%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
  background-repeat: no-repeat;
}
select:focus {
  border: 1px solid #000;
  outline: none;
}
/*MAGIC: hides dotted lines in FF for mac*/
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
select::-moz-focus-inner,
option::-moz-focus-inner {
  outline: none;
}
/*MAGIC: this is the key for getting rid of the down arrow in IE*/
select::-ms-expand {
  display: none;
}
.input-btn {
  position: relative;
}
.input-btn input {
  padding-right: 160px;
}
.input-btn .btn {
  position: absolute;
  right: 0;
  bottom: 10px;
  border-radius: 0 5px 5px 0;
  width: auto;
}
@media (min-width: 500px) {
  .input-btn .btn {
    width: 150px;
  }
}
textarea {
  height: 240px;
  padding: 10px;
}
.style-guide-checkbox-container,
.style-guide-radio-container {
  display: inline-block !important;
  width: 100%;
}
@media (min-width: 600px) {
  .style-guide-checkbox-container,
  .style-guide-radio-container {
    width: 49%;
  }
}
.checkbox {
  position: relative;
  display: block;
  margin: 10px 0;
}
.checkbox input[type="checkbox"],
.radio input[type="radio"] {
  height: 1px;
  width: 1px;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.checkbox label,
.radio label {
  position: relative;
  display: block;
  margin: .1em 0;
  line-height: 1.4em;
  padding: .36em 0 .36em 2.5em;
  color: #413d3e;
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
}
.checkbox label:before,
.radio label:before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  color: #231f20;
  background-color: #f5f6f5;
  -webkit-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
  content: "";
  z-index: 1;
  border: 1px solid #e2e2e2;
}
.checkbox label:after,
.radio label:after {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
  position: absolute;
  z-index: 2;
  display: block;
}
.checkbox label:hover:before,
.radio label:hover:before {
  background-color: #dadeda;
}
.checkbox-small label,
.radio-small label {
  font-size: 16px;
}
.checkbox-small label:before,
.radio-small label:before {
  top: 6px;
  left: 9px;
  height: 20px;
  width: 20px;
}
.radio input:checked + label:after,
.checkbox input:checked + label:after {
  opacity: 1;
}
.radio input:checked + label:before,
.checkbox input:checked + label:before {
  background-color: #413d3e;
}
.radio label:before,
.radio label:after {
  border-radius: 100%;
}
.radio label:after {
  left: 10px;
  top: 10px;
  background: #f5f6f5;
  height: 10px;
  width: 10px;
}
.checkbox label:after {
  left: 9px;
  top: 4px;
  content: "\ed73";
  font-family: "or-icomoon";
  font-size: 12px;
  color: #fff;
}
.radio-small label:after {
  left: 15px;
  top: 12px;
  height: 8px;
  width: 8px;
}
.checkbox-small label:after {
  left: 14px;
  top: 6px;
  font-size: 11px;
}
.dark-theme input,
.dark-theme textarea,
.dark-theme select {
  border-color: #4a4a4a;
  background-color: rgba(245, 246, 245, 0.04);
}
.dark-theme input:focus,
.dark-theme textarea:focus,
.dark-theme select:focus,
.dark-theme input:active,
.dark-theme textarea:active,
.dark-theme select:active {
  border-color: #fff;
  color: #fff;
  outline: none;
}
.dark-theme .input-error input {
  border-color: #b10016;
}
.dark-theme .input-success input {
  border-color: #5fa318;
}
.dark-theme .checkbox label,
.dark-theme .radio label {
  color: #f5f6f5;
}
.dark-theme .checkbox label:before,
.dark-theme .radio label:before {
  background-color: #231f20;
}
.dark-theme .checkbox label:hover:before,
.dark-theme .radio label:hover:before {
  background-color: #3e3739;
}
/* END FORM STYLES */
/* Image Asset Styles */
#image-section {
  text-align: center;
}
.image-asset-group {
  margin: 30px 0;
}
.style-guide-image-container {
  margin: 15px 0;
}
.home-hero-image,
.home-slideshow-image,
.plp-hero-image,
.plp-infusion-image,
.pdp-background-image {
  width: 100%;
}
.plp-infusion-container {
  margin-left: auto;
  margin-right: auto;
}
.plp-infusion-image {
  max-width: 890px !important;
}
/* END IMAGE ASSET STYLES */
/* ANCHOR NAVIGATION STYELS */
.style-guide-anchor-nav {
  position: fixed;
  left: -220px;
  width: 220px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  z-index: 1000;
  top: 200px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: 13px;
}
.style-guide-anchor-nav li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.style-guide-anchor-nav li:last-child {
  border-bottom: none;
}
.style-guide-anchor-nav a {
  padding: .5rem .5rem;
  display: block;
}
.nav-theme-toggle {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.nav-theme-toggle .nav-theme-toggle-label {
  color: #9dc742;
}
.nav-theme-toggle .theme-toggle {
  margin: 10px 20px;
}
.style-guide-anchor-nav a:hover {
  background: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}
.style-guide-nav-item a {
  color: #9dc742;
}
.style-guide-anchor-item a {
  padding-left: 1rem;
  color: #9dc742;
  font-weight: normal;
}
.style-guide-anchor-span {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -30px;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.style-guide-anchor-span:after {
  content: '';
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 16px;
  height: 16px;
  display: block;
  margin-top: -5px;
}
.style-guide-anchor-nav.active {
  background: rgba(0, 0, 0, 0.8);
  left: 0;
}
.style-guide-anchor-nav.active .style-guide-anchor-span {
  background: rgba(0, 0, 0, 0.8);
}
.style-guide-anchor-nav.active .style-guide-anchor-span:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.style-guide-anchor-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* END ANCHOR NAV STYLES*/
/* STYLE GUIDE BASE NAVE */
.style-guide-base-nav {
  background: #231f20;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.style-guide-base-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  height: 40px;
  text-align: center;
}
.style-guide-base-nav ul li {
  -webkit-transform: skewX(-45deg) skewY(0deg);
          transform: skewX(-45deg) skewY(0deg);
  margin: 5px 0;
  display: inline-block;
  text-align: center;
  border-right: 2px solid #fff;
}
.style-guide-base-nav ul li:last-child {
  border: none;
}
.style-guide-base-nav ul li a {
  -webkit-transform: skewX(45deg) skewY(0deg);
          transform: skewX(45deg) skewY(0deg);
  display: block;
  padding: 5px 20px;
  font-weight: bold;
  text-transform: uppercase;
}
/* END BASE NAV */
