/* OR Template Page Styles */
/* Variables */
/* END Variables */
/* Single Column Content Styles */
.content-wrapper {
  margin: 30px 0 60px 0;
  font-family: "proxima-nova", sans-serif;
  font-size: 15px;
  color: #413d3e;
}
.content-page-header {
  margin-top: 15px;
}
.content-page-hero {
  width: 100%;
}
.single-column-content {
  max-width: 770px;
  margin: 45px auto 0;
}
.single-column-content p .single-column-image {
  padding-top: 30px;
}
.single-column-content p .editorial-blockquote {
  margin-top: 45px;
}
.single-column-content-section {
  margin: 60px 0;
}
.single-column-image {
  padding-bottom: 30px;
  display: block;
  max-width: 100%;
}
.single-column-image.align-left {
  float: left;
}
@media (min-width: 480px) {
  .single-column-image.align-left {
    margin-right: 30px;
  }
}
.single-column-image.align-right {
  float: right;
}
@media (min-width: 480px) {
  .single-column-image.align-right {
    margin-left: 30px;
  }
}
.single-column-image.pull-right {
  float: right;
}
@media (min-width: 480px) {
  .single-column-image.pull-right {
    margin-left: 30px;
  }
}
@media (min-width: 1050px) {
  .single-column-image.pull-right {
    margin-right: -120px;
  }
}
.single-column-image.pull-left {
  float: left;
}
@media (min-width: 480px) {
  .single-column-image.pull-left {
    margin-right: 30px;
  }
}
@media (min-width: 1050px) {
  .single-column-image.pull-left {
    margin-left: -120px;
  }
}
.single-column-image.full-width {
  width: 100%;
}
.single-column-image img {
  max-width: 100%;
}
.single-column-video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin: 30px 0;
}
.video-responsive {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* END SINGLE COLUMN STYLES */
/* OR ACCORDION STYLES */
.or-accordion {
  width: 100%;
}
.or-accordion input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.or-accordion input:checked ~ .accordion-pane-content {
  max-height: 100em;
}
.or-accordion input:checked + .accordion-pane-header:before {
  transform: rotate(90deg);
}
.or-accordion input:checked + .accordion-pane-header:after {
  transform: rotate(270deg);
}
.accordion-pane {
  border-bottom: 4px solid #231f20;
}
.accordion-pane-header {
  display: block;
  font-family: "proxima-nova", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 60px 15px 0;
  cursor: pointer;
  width: 100%;
  position: relative;
}
.accordion-pane-header:after,
.accordion-pane-header:before {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -10px;
  background-color: #231f20;
  transition: all 0.3s ease-out;
}
.accordion-pane-header:after {
  transform: rotate(90deg);
}
.accordion-pane-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
/* END OR ACCORDION STYLES */
/* OR TABLE STYLES */
.or-table {
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  color: #413d3e;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 15px 0;
}
.or-table thead {
  font-size: 20px;
}
.or-table thead tr {
  background-color: #e2e2e2;
}
.or-table tbody {
  font-size: 15px;
}
.or-table tbody tr:nth-child(even) {
  background-color: #f5f6f5;
}
.or-table tbody th {
  padding: 5px 15px;
  min-width: 100px;
  text-align: left;
}
.or-table td {
  padding: 10px;
  text-align: center;
}
/* END TABLE STYLES */
