/* OR Template Page Styles */
/* Variables */
@color-action: #9dc742;
@color-action-hover: #779026;
@color-brand-primary: #da1a32;
@color-brand-secondary: #231f20;
@color-gray-darker: #413d3e;
@color-gray-dark: #4a4a4a;
@color-gray: #9b9b9b;
@color-gray-light: #cbcbcb;
@color-gray-lighter: #e2e2e2;
@color-gray-lightest: #f5f6f5;
@color-error: #b10016;
@color-warning: #e5a423;
@color-success: #5fa318;
@color-style-guide-orange: #FF6916;  
@body-default-color: @color-gray-darker;
@icon-color: @color-gray-dark;
@body-bold-color: @color-gray-dark;

@font-family-sans-serif: "proxima-nova", sans-serif;
@font-family-sans-serif-alternate: "alternate-gothic-no-3-d", sans-serif;
@font-family-handwritten: "handOR", sans-serif;
@icomoon-font-family: "or-icomoon";

@font-size-h1: 70px; 
@font-size-h2: 30px;
@font-size-h3: 24px;
@font-size-h4: 20px;
@font-size-h5: 15px;
@font-size-h6: 14px;
@font-size-base: 15px;

@transition-base: all 0.3s ease-out;

@margin-xsmall: 5px;
@margin-small: 15px;
@margin-base: 30px;
@margin-medium: 45px;
@margin-large: 60px;
@margin-xl: 90px;
/* END Variables */

/* Single Column Content Styles */
.content-wrapper{
  margin: @margin-base 0 @margin-large 0;
}
.content-page-header{
  margin-top: @margin-small;
}
.content-page-hero{
  width: 100%;
}
.single-column-content{
  max-width: 770px;
  margin: @margin-medium auto 0;  
}
.single-column-content-section{
  margin: @margin-base 0;
}