<!DOCTYPE HTML>
<html>
<head>
  <title>Outdoor Research Single Column Template</title>  
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <link rel="stylesheet" type="text/css" href="../css/outdoor-research.css">
  <link rel="stylesheet" type="text/css" href="../css/templates.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="../js/outdoor-research.js"></script>

  <!-- Typekit Fonts, Proxima Nova and Alt Gothic -->
  <script src="https://use.typekit.net/gtn2asa.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Custom Hand OR Font -->
  <link rel="stylesheet" href="https://i.icomoon.io/public/78b709aad2/HandORFont/style.css">

  <!-- Icomoon dev link -->
  <link rel="stylesheet" href="https://i.icomoon.io/public/78b709aad2/OutdoorResearch/style.css">
</head>
<body>
  <div class="content-wrapper">
    <div class="container">
      <header class="content-page-header">
        <ul class="breadcrumb">
           <li class="breadcrumb-link"><a href="#">Home</a></li>
           <li class="breadcrumb-link"><a href="#">Footer Category</a></li>
           <li class="breadcrumb-link"><a href="#">Specific Page</a></li>
         </ul>
         <h1>Components Templates</h1>
         <hr class="large">
      </header>
      <div class="single-column-content">
        <div class="single-column-content-section">
          <h3>Accordion Component - Single Pane Open (FAQ's)</h3>

          <!-- The single pane accordion component is based off of radio buttons, so inherently only 1 pane can be open at a time -->
          <div class="or-accordion">
            <div class="accordion-pane">
              <input type="radio" id="accordion1-pane1" name="accordion1" />
              <label class="accordion-pane-header" for="accordion1-pane1">
                Accordion Pane 1
              </label>
              <div class="accordion-pane-content">
                <p class="large">Any amount of content can go with an accordion content block.  Any HTML, tables, pictures, anything</p>
              </div>
            </div>
            <div class="accordion-pane">
              <input type="radio" id="accordion1-pane2" name="accordion1" />
              <label class="accordion-pane-header" for="accordion1-pane2">
                Accordion Pane 2
              </label>
              <div class="accordion-pane-content">
                <p class="large">Any amount of content can go with an accordion content block.  Any HTML, tables, pictures, anything</p>
              </div>
            </div>
            <div class="accordion-pane">
              <input type="radio" id="accordion1-pane3" name="accordion1" />
              <label class="accordion-pane-header" for="accordion1-pane3">
                Accordion Pane 3 If this were a long title like an faq question, it will wrap?
              </label>
              <div class="accordion-pane-content">
                <p class="large">Any amount of content can go with an accordion content block.  Any HTML, tables, pictures, anything</p>
              </div>
            </div>
          </div>
        </div>
        <hr class="small">
        <div class="single-column-content-section">
          <h3>Accordion Component - Multiple Panes Open</h3>

          <!-- The multiple pane accordion component is based off of checkboxes, so inherently only many panes can be open at a time -->
          <div class="or-accordion">
            <div class="accordion-pane">
              <input type="checkbox" id="accordion2-pane1" name="accordion2" />
              <label class="accordion-pane-header" for="accordion2-pane1">
                Accordion Pane 1
              </label>
              <div class="accordion-pane-content">
                <p class="large">Any amount of content can go with an accordion content block.  Any HTML, tables, pictures, anything</p>
              </div>
            </div>
            <div class="accordion-pane">
              <input type="checkbox" id="accordion2-pane2" name="accordion2" />
              <label class="accordion-pane-header" for="accordion2-pane2">
                Accordion Pane 2
              </label>
              <div class="accordion-pane-content">
                <p class="large">Any amount of content can go with an accordion content block.  Any HTML, tables, pictures, anything</p>
              </div>
            </div>
            <div class="accordion-pane">
              <input type="checkbox" id="accordion2-pane3" name="accordion2" />
              <label class="accordion-pane-header" for="accordion2-pane3">
                Accordion Pane 3
              </label>
              <div class="accordion-pane-content">
                <p class="large">Any amount of content can go with an accordion content block.  Any HTML, tables, pictures, anything</p>
              </div>
            </div>
          </div>
        </div>
        <hr class="small">
        <div class="single-column-content-section">
          <h3>Table Component (Shipping Table, Size & Fit Table)</h3>
          <table class="or-table">
            <thead>
              <tr>
                <th></th>
                <td>30</td>
                <td>32</td>
                <td>34</td>
                <td>36</td>
                <td>38</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Waist</th>
                <td>30"</td>
                <td>32"</td>
                <td>34"</td>
                <td>36"</td>
                <td>38"</td>
              </tr>
              <tr>
                <th>Hips</th>
                <td>30"</td>
                <td>32"</td>
                <td>34"</td>
                <td>36"</td>
                <td>38"</td>
              </tr>
              <tr>
                <th>Inseam/Short</th>
                <td>30"</td>
                <td>32"</td>
                <td>34"</td>
                <td>36"</td>
                <td>38"</td>
              </tr>
              <tr>
                <th>Inseam/Reg</th>
                <td>30"</td>
                <td>32"</td>
                <td>34"</td>
                <td>36"</td>
                <td>38"</td>
              </tr>
              <tr>
                <th>Inseam/Long</th>
                <td>30"</td>
                <td>32"</td>
                <td>34"</td>
                <td>36"</td>
                <td>38"</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>