<!DOCTYPE HTML>
<html>
<head>
  <title>Outdoor Research Single Column Template</title>  
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">    
  <link rel="stylesheet" type="text/css" href="../css/outdoor-research.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="../js/outdoor-research.js"></script>

  <!-- Typekit Fonts, Proxima Nova and Alt Gothic -->
  <script src="https://use.typekit.net/gtn2asa.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Custom Hand OR Font -->
  <link rel="stylesheet" href="https://i.icomoon.io/public/78b709aad2/HandORFont/style.css">

  <!-- Icomoon dev link -->
  <link rel="stylesheet" href="https://i.icomoon.io/public/78b709aad2/OutdoorResearch/style.css">
</head>
<body>
  <h1>Single Column</h1>

</body>
</html>