<!DOCTYPE HTML>
<html>
<head>
  <title>Outdoor Research Single Column Template</title>  
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <link rel="stylesheet" type="text/css" href="../css/outdoor-research.css">
  <link rel="stylesheet" type="text/css" href="../css/templates.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="../js/outdoor-research.js"></script>

  <!-- Typekit Fonts, Proxima Nova and Alt Gothic -->
  <script src="https://use.typekit.net/gtn2asa.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Custom Hand OR Font -->
  <link rel="stylesheet" href="https://i.icomoon.io/public/78b709aad2/HandORFont/style.css">

  <!-- Icomoon dev link -->
  <link rel="stylesheet" href="https://i.icomoon.io/public/78b709aad2/OutdoorResearch/style.css">
</head>
<body>
  <div class="content-wrapper">
    <div class="container">
      <header class="content-page-header">
        <ul class="breadcrumb">
           <li class="breadcrumb-link"><a href="#">Home</a></li>
           <li class="breadcrumb-link"><a href="#">Footer Category</a></li>
           <li class="breadcrumb-link"><a href="#">Specific Page</a></li>
         </ul>
         <h1>Warranty</h1>
         <hr class="large">
      </header>
      <div class="single-column-content">
        <div class="single-column-content-section">
          <h2>Infinite Guarantee</h2>
          <p>At Outdoor Research, our mission is to provide innovation and inspiration for the relentless adventurer.</p>
          <p>Outdoor Research products are Designed By Adventure™ and from this, we deliver the hallmark of all our products – beautiful, functional gear that works and lasts. By placing quality first, we can offer the finest guarantee in the industry for each and every product – the Outdoor Research Infinite Guarantee™.</p>
          <p>We believe so strongly in the quality of the apparel and gear we make that if our product fails to meet your needs at any time, we are happy to replace it. Our products are guaranteed forever, and your total satisfaction with our product is our goal.</p>
          <p>Though we doubt you’ll ever need it, if you ever have to use our Infinite Guarantee, please see the Warranty Returns section below.</p>
        </div>
        <hr class="small">
        <div class="single-column-content-section">
          <h2>Warranty Returns</h2>
          <p>Has one of our products failed to meet your needs? No problem, we are happy to replace it. Please click on and fill out the "Warranty Return Authorization Form" and our Customer Service Department will be in touch with you within 1-2 weeks.</p>
          <p><a href="#">FILL OUT OUR WARRANTY RETURN AUTHORIZATION FORM</a></p>
          <ul>
            <li>Please wait to send product back to us until an RA# has been issued to you by our Customer Service Department. (you will be receiving an email confirmation with a Return Authorization Number (RA#) and return shipping address when the above form is submitted). Clearly write the RA# on the outside of your package and mail it to us at your earliest convenience.</li>
            <li>Be sure to clean products before sending them back to us. Products will be returned if they are unclean.</li>
            <li>We recommend returning items via a traceable and insured method (UPS, Fed Ex, etc.).</li>
            <li>Items marked with an “X” on or near the tag have already been through the warranty process and are not eligible for warranty.</li>
          </ul>
          <p>Please feel free to contact us if you have any questions or have trouble filling out the form. Our Customer Service Department can be reached M-F from 8am to 5pm PST by calling 855 967 8197 or by emailing us at <a href="#">returns@outdoorresearch.com</a>. If you have already been issued an RA# please have this handy.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>